In [1]:
import pandas as pd

In [2]:
dataRaw = pd.read_csv('data/HousingPrice/HousingPriceOriginal/house-pricing-2022.csv')

In [3]:
#Data Preprocessing
#Data Cleaning
#Data Profiling
dataProfiled = dataRaw[['389995','CV22 5SH','RUGBY','RUGBY.1','WARWICKSHIRE']]
dataProfiled.columns = ['Price', 'Post Code', 'City', 'District','County']

In [6]:
filtered_data = dataProfiled[dataProfiled['County'].str.contains('Yorkshire|Oxfordshire', case=False)]
filtered_data.head(100)
filtered_data.to_csv('data/HousingPrice/HousingPriceCleaned/profiled_data.csv', index=False)

In [7]:
dataRaw21 = pd.read_csv('data/HousingPrice/HousingPriceOriginal/house-pricing-2021.csv')
dataRaw21.head(5)

,{D707E535-5720-0AD9-E053-6B04A8C067CC},260000,2021-08-06 00:00,SO45 2HT,T,N,F,17,Unnamed: 8,PERRYWOOD CLOSE,HOLBURY,SOUTHAMPTON,NEW FOREST,HAMPSHIRE,A,A.1
0,{D707E535-5721-0AD9-E053-6B04A8C067CC},375000,2021-09-01 00:00,SO23 7FR,S,N,F,1,NaN,BOXALL GARDENS,KINGS WORTHY,WINCHESTER,WINCHESTER,HAMPSHIRE,A,A
1,{D707E535-5723-0AD9-E053-6B04A8C067CC},132000,2021-06-28 00:00,SP11 6RL,F,N,L,2,NaN,SEDGE ROAD,NaN,ANDOVER,TEST VALLEY,HAMPSHIRE,A,A
2,{D707E535-5724-0AD9-E053-6B04A8C067CC},295000,2021-09-10 00:00,SP11 6TU,T,N,F,21,NaN,NAP CLOSE,NaN,ANDOVER,TEST VALLEY,HAMPSHIRE,A,A
3,{D707E535-5725-0AD9-E053-6B04A8C067CC},360000,2021-08-27 00:00,SO51 0AX,T,N,F,130,NaN,FREEMANTLE ROAD,NaN,ROMSEY,TEST VALLEY,HAMPSHIRE,A,A
4,{D707E535-5726-0AD9-E053-6B04A8C067CC},490500,2021-06-30 00:00,GU14 6JH,D,N,F,17,NaN,CLOSEWORTH ROAD,NaN,FARNBOROUGH,RUSHMOOR,HAMPSHIRE,A,A

In [8]:
dataProfiled21 = dataRaw21[['260000','SO45 2HT','SOUTHAMPTON','NEW FOREST','HAMPSHIRE']]
dataProfiled21.columns = ['Price', 'Post Code', 'City', 'District','County']
dataProfiled21.head(5)

    Price Post Code         City     District     County
0  375000  SO23 7FR   WINCHESTER   WINCHESTER  HAMPSHIRE
1  132000  SP11 6RL      ANDOVER  TEST VALLEY  HAMPSHIRE
2  295000  SP11 6TU      ANDOVER  TEST VALLEY  HAMPSHIRE
3  360000  SO51 0AX       ROMSEY  TEST VALLEY  HAMPSHIRE
4  490500  GU14 6JH  FARNBOROUGH     RUSHMOOR  HAMPSHIRE

In [9]:
filtered_data = dataProfiled21[dataProfiled21['County'].str.contains('Yorkshire|Oxfordshire', case=False)]
filtered_data.head(100)
filtered_data.to_csv('data/HousingPrice/HousingPriceCleaned/profiled_data_2021.csv', index=False)

In [10]:
dataRaw20 = pd.read_csv('data/HousingPrice/HousingPriceOriginal/house-pricing-2020.csv')
dataRaw20.head(5)

,{B32EBB13-835E-3C99-E053-6C04A8C09CA1},730000,2020-08-21 00:00,GL6 6TX,D,N,F,GREENLEAVES,Unnamed: 8,Unnamed: 9,PAINSWICK,STROUD,STROUD.1,GLOUCESTERSHIRE,A,A.1
0,{B32EBB13-835F-3C99-E053-6C04A8C09CA1},298000,2020-09-14 00:00,BS32 0LR,T,N,F,49,NaN,LAVENDER WAY,BRADLEY STOKE,BRISTOL,SOUTH GLOUCESTERSHIRE,SOUTH GLOUCESTERSHIRE,A,A
1,{B32EBB13-8360-3C99-E053-6C04A8C09CA1},300000,2020-08-28 00:00,GL51 8NE,T,N,F,37,NaN,GLOUCESTER ROAD,NaN,CHELTENHAM,CHELTENHAM,GLOUCESTERSHIRE,A,A
2,{B32EBB13-8361-3C99-E053-6C04A8C09CA1},295000,2020-08-28 00:00,GL2 9AA,D,N,F,29A,NaN,SANDHURST ROAD,NaN,GLOUCESTER,GLOUCESTER,GLOUCESTERSHIRE,A,A
3,{B32EBB13-8362-3C99-E053-6C04A8C09CA1},260000,2020-09-11 00:00,GL51 7DY,S,N,F,20,NaN,WORDSWORTH AVENUE,NaN,CHELTENHAM,CHELTENHAM,GLOUCESTERSHIRE,A,A
4,{B32EBB13-8363-3C99-E053-6C04A8C09CA1},985000,2020-09-17 00:00,GL7 3DL,D,N,F,GREEN FARM,NaN,NaN,DOWNINGTON,LECHLADE,COTSWOLD,GLOUCESTERSHIRE,A,A

In [12]:
dataProfiled20 = dataRaw20[['730000','GL6 6TX','STROUD','STROUD.1','GLOUCESTERSHIRE']]
dataProfiled20.columns = ['Price', 'Post Code', 'City', 'District','County']
dataProfiled20.head(5)

    Price Post Code        City               District                 County
0  298000  BS32 0LR     BRISTOL  SOUTH GLOUCESTERSHIRE  SOUTH GLOUCESTERSHIRE
1  300000  GL51 8NE  CHELTENHAM             CHELTENHAM        GLOUCESTERSHIRE
2  295000   GL2 9AA  GLOUCESTER             GLOUCESTER        GLOUCESTERSHIRE
3  260000  GL51 7DY  CHELTENHAM             CHELTENHAM        GLOUCESTERSHIRE
4  985000   GL7 3DL    LECHLADE               COTSWOLD        GLOUCESTERSHIRE

In [34]:
filtered_data = dataProfiled20[dataProfiled20['County'].str.contains('Yorkshire|Oxfordshire', case=False)]
filtered_data.head(100)
filtered_data.to_csv('data/profiled_data_2020.csv', index=False)

In [18]:
dataRaw19 = pd.read_csv('data/HousingPrice/HousingPriceOriginal/house-pricing-2019.csv')
dataRaw19.head(5)

,{8CAC1318-AC31-0253-E053-6B04A8C08E51},165950,28/05/2019 00:00,BS22 7FP,T,N,F,32,Unnamed: 8,KELSTON GARDENS,Unnamed: 10,WESTON-SUPER-MARE,NORTH SOMERSET,NORTH SOMERSET.1,A,A.1
0,{8CAC1318-AC31-0253-E053-6B04A8C08E51},119500,22/05/2019 00:00,TA8 2EY,F,N,L,"GROVE HOUSE, 58",FLAT 1,BERROW ROAD,NaN,BURNHAM-ON-SEA,SEDGEMOOR,SOMERSET,A,A
1,{8CAC1318-AC33-0253-E053-6B04A8C08E51},215000,21/06/2019 00:00,TA22 9DH,T,N,F,5,NaN,WEIR HEAD,NaN,DULVERTON,SOMERSET WEST AND TAUNTON,SOMERSET,A,A
2,{8CAC1318-AC35-0253-E053-6B04A8C08E51},242500,01/05/2019 00:00,BS20 7BP,F,N,L,50,NaN,LOWER BURLINGTON ROAD,PORTISHEAD,BRISTOL,NORTH SOMERSET,NORTH SOMERSET,A,A
3,{8CAC1318-AC36-0253-E053-6B04A8C08E51},318000,09/05/2019 00:00,BA3 2RW,T,N,F,4,NaN,BUSHY COMBE,MIDSOMER NORTON,RADSTOCK,BATH AND NORTH EAST SOMERSET,BATH AND NORTH EAST SOMERSET,A,A
4,{8CAC1318-AC37-0253-E053-6B04A8C08E51},215000,17/05/2019 00:00,BS24 7HZ,S,N,F,9,NaN,OSMOND ROAD,NaN,WESTON-SUPER-MARE,NORTH SOMERSET,NORTH SOMERSET,A,A

In [19]:
dataProfiled19 = dataRaw19[['165950','BS22 7FP','WESTON-SUPER-MARE','NORTH SOMERSET','NORTH SOMERSET']]
dataProfiled19.columns = ['Price', 'Post Code', 'City', 'District','County']
dataProfiled19.head(5)

,Price,Post Code,City,District,County
0,119500,TA8 2EY,BURNHAM-ON-SEA,SEDGEMOOR,SEDGEMOOR
1,215000,TA22 9DH,DULVERTON,SOMERSET WEST AND TAUNTON,SOMERSET WEST AND TAUNTON
2,242500,BS20 7BP,BRISTOL,NORTH SOMERSET,NORTH SOMERSET
3,318000,BA3 2RW,RADSTOCK,BATH AND NORTH EAST SOMERSET,BATH AND NORTH EAST SOMERSET
4,215000,BS24 7HZ,WESTON-SUPER-MARE,NORTH SOMERSET,NORTH SOMERSET

In [20]:
filtered_data = dataProfiled19[dataProfiled19['County'].str.contains('Yorkshire|Oxfordshire', case=False)]
filtered_data.to_csv('data/HousingPrice/HousingPriceCleaned/profiled_data_2019.csv', index=False)
filtered_data.head(10)

,Price,Post Code,City,District,County
726,69950,YO15 2AP,BRIDLINGTON,EAST RIDING OF YORKSHIRE,EAST RIDING OF YORKSHIRE
736,400000,YO15 1PG,BRIDLINGTON,EAST RIDING OF YORKSHIRE,EAST RIDING OF YORKSHIRE
737,545000,YO43 4SD,YORK,EAST RIDING OF YORKSHIRE,EAST RIDING OF YORKSHIRE
738,125000,HU14 3AG,NORTH FERRIBY,EAST RIDING OF YORKSHIRE,EAST RIDING OF YORKSHIRE
739,375000,YO16 4BS,BRIDLINGTON,EAST RIDING OF YORKSHIRE,EAST RIDING OF YORKSHIRE
741,1600000,YO8 6EN,SELBY,EAST RIDING OF YORKSHIRE,EAST RIDING OF YORKSHIRE
744,312000,HU13 0EP,HESSLE,EAST RIDING OF YORKSHIRE,EAST RIDING OF YORKSHIRE
746,76000,YO25 8AN,DRIFFIELD,EAST RIDING OF YORKSHIRE,EAST RIDING OF YORKSHIRE
747,160000,DN14 6HJ,GOOLE,EAST RIDING OF YORKSHIRE,EAST RIDING OF YORKSHIRE
1056,205000,HU12 8QA,HULL,EAST RIDING OF YORKSHIRE,EAST RIDING OF YORKSHIRE